body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input[type="text"]{
	width: 30px;
	margin: 5px;
}

td.historyVal {
	width: 40px;
	margin: 5px;
	text-align: center;
}

div.selectPanel {
	width: 350px;
	padding: 5px;
	display: block;
}

div.selectPanel > input[type="number"] {
	float: right;
}

div.white, div.black {
	width: 10px;
	height: 10px;
	display: block;
	margin: 5px;
	border-radius: 15px;
	border:1px solid black;
}

div.black{
	background: black;
}