body {
	margin: 0px;
	padding: 0px;
	background-color: white;
	background: url('listki.gif');
	background-repeat: repeat-y;
}
img[alt="R"] {
	float: left;
}

.tresc {
	margin: 10px;
	padding: 15px;
	margin-left: 100px;
	border: 2px solid black;
}

p {
	text-indent: 15px;
}

p:first-child {
	text-indent: 0px;
}